* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid;
  height: 130vh;
}
h2{
    margin-top: 10vh;
}
form {
  display: flex;
  flex-direction: column;
  border: solid;
}
img{
    height: 36vh;
}
